/* *{
    overflow-x: hidden; 
} */
.carosal-btn{
    width: 0.7rem !important; 
    height: 0.7rem !important; 
    border-radius: 50% !important;
    background-color: rgb(237, 232, 241) !important;
}
.carosal-btn:hover{
    background-color: rgb(125, 41, 204) !important;
}
.box1{
    width: 33.75rem;
    height:18.125rem;
}
@media(max-width:1000px)
{
    .cs{
        flex-direction: column-reverse
       }
}
video {
    pointer-events: none;
  }
  .bar{
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #979797;
  }
